page-welcome {
  .splash-bg {
    position: relative;
    background: url('../assets/img/logo_way.png') no-repeat transparent;
    background-size: 60%;
    height: 55%;
    z-index: 1;
    background-repeat: no-repeat;
    margin: 0px 5px 5px 5px;
     background-position: center; 
    
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;
  
    }
    .connectWith{

    text-align:center;
    }

    .imagContainer img{

      float:rigth;
      width:100px;
      flex-direction:row;
    }
    .grid{

      flex-direction:row;
      justify-content: center;
      margin-left:6%;
    }
    .grid img{
      text-align:center;

    }

    &.activated {
      background-color: rgb(220, 220, 220);
    }


  
}
