<ion-header>

  <ion-navbar>
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let story of stories">
      <!-- TODO implement functions for Memories -->
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <!--TODO Implement the Picture Here  -->
          <!-- <img [src]="item.profilePic" /> -->
        </ion-avatar>
        <h2>{{story.firstname}}</h2>
        <p>{{story.lastname}}</p>
        <!-- <ion-note item-end *ngIf="item.note">{{memory.birthdate}}</ion-note> -->
      </button>

      <ion-item-options>
        <!--TODO implement Delete Function for Memories  -->
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
